/TempCalClient/nbproject/private/
/TempCalRemoteIf/nbproject/private/
/TempCalEJBModule/build/
/TempCalRemoteIf/dist/
/TempCalRemoteIf/build/
/TempCalEJBModule/dist/
/TempCalIf/nbproject/private/
/TempCalIf/build/
/TempCalIf/dist/
